.header{
    text-align: center;
    padding: 16px;
    background: #1abc9c;
    color: white;
    font-size: 10px;
    margin-bottom: 20px;
}

.input-group-addon{
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #f7edf6;
    text-align: center;
    line-height: 1.5;
    background-color: #423f3f;
    border: 1px solid #c9d0d8;
    border-radius: .25rem;
}

.taskList{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}